*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}


header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
    background-color: rgb(50, 123, 232);
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.headerClass {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
}


@media (max-width: 768px) {
h1 {
    font-size: 2rem;
}
}

.headerClass p {
    font-size: 1.5rem;
}

.option {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.options {
    display: flex;
    padding: 2px 40px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: antiquewhite;
    color: black; 
        cursor: pointer;
}

.options:hover {
    border-color: rgb(54, 230, 142);
}

.optHeader {
    display: flex;
    padding: 2px 20px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: antiquewhite;
    color: rgb(93, 89, 89);
}

@media (max-width: 768px) {
 .filteringOption{
    flex-direction: column;
 }
}

.filteringOption {
    font-style: italic;
    display: flex;
    margin-left: auto;
}

.selectionOption {
    background-color: blue;
    position: absolute;
    right: 21px;
    width: 250px;
    text-align: center;
}

.selectionBox {
    list-style: none;
    padding: 12px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: antiquewhite;
    color: black;
}

@media (max-width: 768px) {
 .selectionOption {
    right: 170px;
}
}

#levelOptions {
    display: none;
}

.selectionBox li {
    margin: 0;
    padding: 0;
}

.selectionBox li:hover {
    font-weight: bold;
    cursor: pointer;
    color: rgb(16, 190, 66);
}



#typeOptions {
    display: none;
}

#mealOptions {
    display: none;
}

.searchBox {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.searchBar {
    width: 90%;
    height: 50px;
    background-color: rgb(238, 225, 225);
    border-color: rgb(195, 195, 195);
    border-style: solid;
    border-radius: 90px;
    text-align: center;
}

.searchBar:focus{
    outline: 2px solid rgb(79, 79, 253);
}

.foodGrid {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0px 60px;
    flex-wrap: wrap;
    gap: 10px;
}

.food {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 28px;
    padding: 16px 35px;
    border-style: solid;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease;
    flex: 0 0 calc(33.333% - 10px);
}

@media (max-width: 768px) {
  .food {
    flex: 0 0 100%;
  }

  .foodGrid {
    padding: 0 16px;
  }

}

.food:hover {
    transform: scale(1.05);
            cursor: pointer;
}

.openModal {
    position: fixed;
}

#modal {
    display: none;
    position: absolute;
    justify-content: center;
    align-content: center;
    background-color: rgba(40, 36, 23, 0.111);
    width: 100%;
    height: 100vh;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.recipePage {
    background-color: white;
    position: absolute;
    width: 90%;
    height: auto;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(39, 32, 25);
    font-size: 1.2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.recipeHeader {
    display: flex;
    padding: 20px;

}

@media (max-width: 768px) {
 .recipeHeader {
    flex-direction: column;
 }
 .hLeft {
    width: 100%;
    padding-right: 0px;
 }

 .hRight {
    width: 100%;
 }
}

.goBackButton {
    display: flex;
    width: 98%;
    padding: 10px 0px 0px 0px;
    justify-content: flex-end;
    position: absolute;

}

.goBackButton p{
    cursor: pointer;
    transition: transform 0.4s ease;
}

.goBackButton p:hover {
    transform: rotate(180deg);
}

.hLeft {
    width: 70%;
    padding-right: 20px;
}

.subtitleContent {
    font-style: italic;
    font-size: 1.1rem;
}

.hRight {
}

.recipeHeader h2 {
    font-size: 2.4rem;
}

hr {
    margin: 10px;
    border-color: rgb(231, 145, 53);
    border-style: solid;
}

.ingredients{
    padding: 15px;
    font-style: italic;
}

.steps {
    padding: 20px;
}

.stepBox {
    margin: 0;
    padding: 0;
}

.disclaimer {
    padding: 20px;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px;
}